/*Variables*/
/*VARIABLES DE COLORES*/
/*es un gris claro*/
/*es un gris mas oscuro*/
/*Spacing*/
/*VARIABLES DE TEXTO*/
/*Font-Size*/
/*Normalizadores*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Oswald:wght@500&family=Square+Peg&display=swap");
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 90%; }

body {
  font-family: "Nunito Sans", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; }

h1 {
  text-align: center; }

h2 {
  color: red;
  font-family: "Nunito Sans", sans-serif; }

h3 {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*Mixins*/
/*Header*/
.header__nav {
  background-color: red;
  padding: 0.5rem;
  border-bottom: 2px solid #9e9393;
  border-top: 2px solid #9e9393; }

.header__nav a {
  color: white; }

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 2px solid #9e9393;
  border-top: 2px solid #9e9393;
  margin-top: 20px;
  background-color: #f0eeee; }
  footer .footer__nav {
    padding: 1rem; }
    footer .footer__nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
    footer .footer__nav a {
      font-size: 1.4rem;
      position: relative;
      margin-left: 2rem; }
    footer .footer__nav a:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: red;
      /*Animacion*/
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.25s ease-in-out; }
    footer .footer__nav a:hover:after {
      /*Animacion*/
      transform-origin: left;
      transform: scaleX(1); }
  footer .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
    footer .footer__redes-xf:hover {
      opacity: 50%; }
  footer .footer__copy {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem; }

/*Main Home*/
main h1 {
  color: red;
  font-family: "Oswald", serif;
  margin: 3rem;
  padding: 2rem;
  border-bottom: 2px solid red;
  border-top: 2px solid red; }

main .home {
  text-align: center; }
  main .home__historia h2 {
    display: inline-block;
    padding-bottom: 1rem;
    color: red;
    font-family: "Oswald", serif; }
  main .home__historia article {
    display: inline-block;
    font-size: 1rem;
    font-style: normal;
    font-family: "Nunito Sans", sans-serif;
    text-align: justify; }

/*Galeria*/
.galeria__fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .galeria__fotos img {
    width: 80%;
    height: 80%; }

/*Equipos histopricos*/
.equipos__card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  text-align: center; }

.equipos h1 {
  text-align: center; }

/*Campeonatos*/
.campeonatos {
  text-align: center; }
  .campeonatos img {
    width: 25px; }

/*Galeria*/
.galeria__fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .galeria__fotos img {
    width: 80%;
    height: 80%; }
