/*Variables*/
/*VARIABLES DE COLORES*/
/*es un gris claro*/
/*es un gris mas oscuro*/
/*Spacing*/
/*VARIABLES DE TEXTO*/
/*Font-Size*/
/*Variables de medias querys*/
/*Normalizadores*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Oswald:wght@500&family=Square+Peg&display=swap");
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 90%; }

body {
  font-family: "Nunito Sans", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black; }

h1 {
  text-align: center; }

h2 {
  color: red;
  font-family: "Nunito Sans", sans-serif; }

h3 {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

/*Mixins*/
/*Header*/
.header__nav {
  background-color: red;
  padding: 0.5rem;
  border-bottom: 2px solid #9e9393;
  border-top: 2px solid #9e9393; }

.header__nav a {
  color: white; }

/*Footer*/
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #9e9393;
  border-top: 2px solid #9e9393;
  margin-top: 20px;
  background-color: #f0eeee; }
  footer .footer__boton {
    padding: 5px;
    margin: 5px; }
  footer .boton {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem; }
  footer .footer__redes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px; }
    footer .footer__redes-xf:hover {
      opacity: 50%; }
  footer .footer__copy {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem; }

/*Main Home*/
main h1 {
  color: red;
  font-family: "Oswald", serif;
  margin: 3rem;
  padding: 2rem;
  border-bottom: 2px solid red;
  border-top: 2px solid red; }

main .home {
  text-align: center; }
  main .home__historia h2 {
    display: inline-block;
    padding-bottom: 5px;
    color: red;
    font-family: "Oswald", serif; }
  main .home__historia article {
    display: inline-block;
    font-size: 1rem;
    font-style: normal;
    font-family: "Nunito Sans", sans-serif;
    text-align: justify; }
  main .home__pato {
    display: flex;
    flex-direction: row-reverse; }

/*Galeria*/
.galeria img {
  width: 97%;
  margin: 5px;
  padding: 5px; }
  .galeria img:hover {
    opacity: 50%;
    background-color: #f0eeee; }

.galeria__row {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem; }
  .galeria__row-col {
    flex: 25%; }

@media (max-width: 768px) {
  .galeria__row-col {
    flex: 100%; }
  .galeria__row {
    padding-top: 0.5px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .galeria__row-col {
    flex: 50%; } }

/*Equipos histopricos*/
.equipos__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center; }

.equipos h1 {
  text-align: center; }

/*Campeonatos*/
.campeonatos {
  text-align: center; }
  .campeonatos img {
    width: 25px; }

.tablas {
  padding: 10rem; }

/*Galeria*/
.galeria img {
  width: 97%;
  margin: 5px;
  padding: 5px; }
  .galeria img:hover {
    opacity: 50%;
    background-color: #f0eeee; }

.galeria__row {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem; }
  .galeria__row-col {
    flex: 25%; }

@media (max-width: 768px) {
  .galeria__row-col {
    flex: 100%; }
  .galeria__row {
    padding-top: 0.5px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .galeria__row-col {
    flex: 50%; } }

/*Maps*/
