/*VARIABLES DE COLORES*/
$color-principal: red;
$color-secundario: rgb(240, 238, 238);
$color-impacto: blue;
$color-link: black;

/*VARIABLES DE TEXTO*/
$font: Verdana, Geneva, Tahoma, sans-serif;
$font-parrofo: 16px;
$font-titulos: 36px;
