/*VARIABLES DE COLORES*/
$color-principal: red;
$color-secundario: rgb(240, 238, 238); /*es un gris claro*/
$color-alternativo: rgb(158, 147, 147); /*es un gris mas oscuro*/
$color-impacto: blue;
$color-link: black;
$color-text: black;
$color-text-alternativo: red;
//Tengo que eliminar colores

/*Spacing*/
$spacing-xlarge: 8rem;
$spacing-large: 6rem;
$spacing-medium: 3rem;
$spacing-small: 2rem;
$spacing-xsmall: 5px;


/*VARIABLES DE TEXTO*/
$font: Verdana, Geneva, Tahoma, sans-serif;
$font-principal: 'Nunito Sans', sans-serif;
$font-impacto: 'Square Peg', verdana;
$font-title: 'Oswald', serif;

/*Font-Size*/
$text-large: 5.2rem;
$text-medium: 2.2rem;
$text-base: 1.6rem;
$text-small: 1.4rem;
$text-xsmall: 1rem;

/*Variables de medias querys*/
$smartphone: 768px;
$tablets: 992px;
$desktop: 1400px;

