footer{
    @include flex (column, space-between, center);
    
    @include border($color-alternativo);
    margin-top: 20px;
    background-color: $color-secundario;
    .footer__boton {        
        padding: $spacing-xsmall;
        margin: $spacing-xsmall;              
    }
    .boton{       
        display: flex;
        justify-content: space-around;
        margin-top: $spacing-small     
    }
    
    .footer__redes{
        @include flex (row, center, center);
        padding: $spacing-xsmall;
        &-xf:hover {
            opacity: 50%;
        }
    }
    .footer__copy {
        text-align: center;    
        font-family: $font-principal;
        font-size: $text-xsmall;
    }
      
}

 