
.galeria{    
    img{
        width: 97%;        
        margin: 5px;        
        padding: 5px;
        &:hover{
            opacity: 50%;
            background-color: $color-secundario;            
        }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        padding: $spacing-medium;
        &-col{
            flex: 25%;                                                
        }
    }
                 
}
@media (max-width: $smartphone) {
    .galeria__row-col{
        flex: 100%;
    }
    .galeria__row{
        padding-top: 0.5px;
    }      
}
@media (min-width: $smartphone) and (max-width: $tablets) {
    .galeria__row-col{
        flex: 50%;
    }    
} 

 

